                .main-search-style {
                    border-radius: 9px;
                    padding: 11px;
                    border: 1px solid #00000036;
                }
                
                .right-header {
                    width: 60%;
                }
                /* .search-icon {
                    right: 538px;
                    top: 29px;
                    color: #000000b3;
                } */
                
                .max-right {
                    border: solid 1px #0000002e;
                    border-radius: 7px;
                    width: 40%;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .bottom-header {
                    padding: 0px 11px;
                }
                
                .login-signup {
                    padding: 11px;
                }
                /* .login-icon {
                    left: 116px;
                    top: 1px;
                    color: #000000a1;
                } */
                
                @media screen and (max-width:768px) {
                    .ham-menu-p {
                        position: fixed;
                        top: 80px;
                    }
                }
                
                @media screen and (max-width:576px) {
                    .bottom-header {
                        display: block !important;
                        padding: 18px !important;
                    }
                    .max-right {
                        width: 100%;
                    }
                    .main-search-style {
                        width: 100% !important;
                    }
                    .right-header {
                        width: 100%;
                        margin-bottom: 12px;
                    }
                }
                
                @media screen and (min-width: 576px) {
                    header {
                        display: flex !important;
                        justify-content: space-around !important;
                        align-items: baseline !important;
                    }
                    .middle-header {
                        padding: 0 !important;
                    }
                    .max-right {
                        margin-left: 9px !important;
                    }
                }
                
                @media screen and (min-width:768px) {
                    header {
                        display: flex !important;
                        justify-content: center !important;
                    }
                    .right-header {
                        margin-left: -6px !important;
                    }
                    .main-search-style {
                        width: 167px !important;
                        height: 48px !important;
                        padding-left: 31px !important;
                    }
                    .max-right {
                        margin-left: 16px !important;
                    }
                    .login-signup {
                        width: 109px !important;
                        padding: 0px !important;
                    }
                    .left-header {
                        margin-left: -30px !important;
                    }
                    .bottom-header {
                        margin-left: 10px;
                    }
                    .left-header img {
                        padding-left: 23px !important;
                    }
                }
                
                @media screen and (min-width:992px) {
                    header {
                        justify-content: space-between !important;
                    }
                    .middle-header {
                        margin-left: 120px;
                    }
                    .bottom-header {
                        margin-right: 20px;
                    }
                }
                
                @media screen and (min-width:1200px) {
                    .middle-header {
                        margin-left: 250px !important;
                    }
                }